{namespace r=RENOLIT\ReintDownloadmanager\ViewHelpers}
<f:layout name="Default" />

<f:section name="main">
	<f:if condition="{config.includedefaultjs}"><r:includeFile path="EXT:reint_downloadmanager/Resources/Public/js/dmjs.js" name="zdmfile1" /></f:if>
	<f:if condition="{config.includedefaultcss}"><r:includeFile path="EXT:reint_downloadmanager/Resources/Public/css/dmcss.css" /></f:if>

	<f:flashMessages/>

	<div class="dm-search search-list-out">
		<form autocomplete="off" class="ui-filterable">
			<input data-type="search" id="searchFileField" placeholder="{f:if(condition:'{config.searchplaceholder}',then:'{config.searchplaceholder}',else:'{f:translate(key:\'searchplaceholder\')}')}" />
		</form>
		<div id="filterList">
			<f:if condition="{fileCollections}">
				<f:then>
					<ul id="filterItems" class="searchitems" data-role="listview" data-filter="true" data-input="#searchFileField" data-autodividers="true" data-filter-reveal="true">
						<f:for each="{fileCollections}" as="collection" key="i">
							<li data-filter="true" data-filtertext="{collection.title} {r:SimpleDisplay(obj:'{collectionSearchStrings}',prop:'{i}')}" class="headerItem ui-screen-hidden" data-role="list-divider">{collection.title}</li>
							<f:for each="{collection.items}" as="record">
								<li data-filter="true" data-filtertext="{collection.title} {f:if(condition:'{record.properties.title}',then:'{record.properties.title}',else:'{record.properties.name}')}{f:if(condition:'{record.properties.keywords}',then:' {record.properties.keywords}')}" class="list-item ui-screen-hidden">
									<f:link.page target="_blank" additionalParams="{r:pluginArgArray(pluginParam:'{extAdditionalParams}',valueArray:'{downloaduid:\'{record.properties.file}\'}')}"><f:if condition="{record.properties.title}"><f:then>{record.properties.title}</f:then><f:else>{record.properties.name}</f:else></f:if> [{record.properties.extension -> r:format.strtolower()}]</f:link.page>
								</li>
							</f:for>
						</f:for>
					</ul>
				</f:then>
				<f:else>
					<p><f:translate key="nocollection" /></p>
				</f:else>
			</f:if>
		</div>
	</div>

</f:section>
