{namespace r=RENOLIT\ReintDownloadmanager\ViewHelpers}
<f:layout name="Default" />

<f:debug>{collection}</f:debug>
<f:debug>{record}</f:debug>

<f:section name="main">
	<f:if condition="{config.includedefaultjs}"><r:includeFile path="EXT:reint_downloadmanager/Resources/Public/js/dmjs.js" name="zdmfile1" /></f:if>
	<f:if condition="{config.includedefaultcss}"><r:includeFile path="EXT:reint_downloadmanager/Resources/Public/css/dmcss.css" /></f:if>

	<f:flashMessages renderMode="div" />

	<div class="all-collection-wrapper">
		<f:if condition="{filecollections}">
			<f:then>
				<f:for each="{filecollections}" as="collection">
					<div class="collection-wrapper">
						<div class="collection-header">
							<h3 class="collection-title">{collection.title}</h3>
							<f:if condition="{collection.description}"><f:format.raw>{collection.description}</f:format.raw></f:if>
						</div>
						<ul class="collection-content">
							<f:for each="{collection.items}" as="record">
								<li class="link-item">
									<f:link.page target="_blank" additionalParams="{tx_reintdownloadmanager_reintdlm:{downloaduid:'{record.originalFile.properties.uid}'}}"><f:if condition="{record.title}"><f:then>{record.title}</f:then><f:else>{record.originalFile.name}</f:else></f:if> [{record.originalFile.properties.extension -> r:format.strtolower()}]</f:link.page>
								</li>
							</f:for>
						</ul>
					</div>
				</f:for>
			</f:then>
			<f:else>
				<p><f:translate key="nocollection" /></p>
			</f:else>
		</f:if>
	</div>

</f:section>