{namespace r=RENOLIT\ReintDownloadmanager\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for displaying a top ten list of download

<f:section name="main">
	<f:if condition="{config.includedefaultjs}"><r:includeFile path="EXT:reint_downloadmanager/Resources/Public/js/dmjs.js" name="zdmfile1" /></f:if>
	<f:if condition="{config.includedefaultcss}"><r:includeFile path="EXT:reint_downloadmanager/Resources/Public/css/dmcss.css" /></f:if>
	
	<f:flashMessages/>

	<div class="all-collection-wrapper">
		<h3 class="collection-title">{f:if(condition:'{config.topdtitle}',then:'{config.topdtitle}',else:'{f:translate(key:\'tdhead\')}')}</h3>
		<f:if condition="{files}">
			<f:then>
				<ul class="collection-content">
					<f:for each="{files}" as="record" key="num">
						<li class="link-item">
							{num}. <f:link.page target="_blank" additionalParams="{tx_reintdownloadmanager_reintdlm:{downloaduid:'{record.properties.file}'}}"><f:if condition="{record.properties.name}"><f:then>{record.properties.name}</f:then><f:else>{record.properties.name}</f:else></f:if> [{record.properties.extension -> r:format.strtolower()}]</f:link.page>
						</li>
					</f:for>
				</ul>
			</f:then>
			<f:else>
				<p><f:translate key="nodownloads" /></p>
			</f:else>
		</f:if>

	</div>
	
	
</f:section>